/* --- modified to Netflix-like base --- */
:root{
  --netflix-red: #e50914;
  --bg: #000;
  --card-bg: #111;
  --text: #ffffff;
}

@media (max-width: 768px) {
  /* Ocultar los botones del lado izquierdo */
  header > div:first-child {
    display: none;
  }

  /* Asegurarse de que los íconos de búsqueda, campanita y usuario sigan apareciendo */
  header > div:last-child {
    flex-grow: 1;
    justify-content: flex-end; /* Alineamos los íconos hacia la derecha */
  }

  /* Opcional: Reducir el tamaño de la fuente para el logo */
  header h1 {
    font-size: 1.3rem;
  }
}

*{box-sizing:border-box}
html,body{padding:0;margin:0;background:var(--bg);color:var(--text);font-family:Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;}
a{color:inherit;text-decoration:none}
img{max-width:100%;display:block}
